<head>
    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.description %}{{ page.description | escape }}{% else %}{{ site.description }}{% endif %}">
    <meta name="theme-color" content="#333">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Lato:700|Merriweather:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/prism.css" />
    <link rel="stylesheet" href="/assets/build/style.css?v=1.0" />
</head>
