<nav>
    <ul class="c-external-nav">
        <li class="c-external-nav__item">
            <a href="https://github.com/chrisboakes" class="c-external-nav__item-link" rel="nofollow" target="
            ">
                Github
            </a>
        </li>
        <li class="c-external-nav__item">
            <a href="https://www.npmjs.com/~chrisboakes" class="c-external-nav__item-link" rel="nofollow" target="
            ">
                npm
            </a>
        </li>
        <li class="c-external-nav__item">
            <a href="https://gist.github.com/chrisboakes" class="c-external-nav__item-link" rel="nofollow" target="
            ">
                Gist
            </a>
        </li>
        <li class="c-external-nav__item">
            <a href="https://codepen.io/chrisboakes/" class="c-external-nav__item-link" rel="nofollow" target="
            ">
                Codepen
            </a>
        </li>
    </ul>
</nav>
