---
layout: default
---

<div class="l-post c-post">
    <div class="l-post__content-col s-content">
        {{ content }}
    </div>
    <div class="l-post__meta-col c-post__meta">
        <div class="c-post__meta-inner">
            <div class="c-post__meta-image-wrap">
                <img src="/assets/img/chris-boakes-web-developer.jpg" alt="A headshot of Chris Boakes" class="c-post__meta-image">
            </div>
            <div class="c-post__meta-text">
                <p>Hi, I’m Chris. A front-end web developer based in the metropolis of London, England.</p>
                <p>Welcome to my space on the internet where I write about topics that interest me.</p>
            </div>
        </div>
    </div>
</div>
