.l-about {
    @include breakpoint($medium) {
        display: flex;
    }

    &__content {
        @include breakpoint($medium) {
            lost-column: 9/12;
            lost-offset: 3/12;
        }
    }
}
