.l-blog-page {
    @include breakpoint($medium) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    &__content {
        @include breakpoint($medium) {
            grid-column: 4/-1;
        }
    }
}
