.l-blog-grid {
    @include breakpoint($medium) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;
    }

    &__item {
        margin: 0 auto;
        max-width: 40rem;
        margin-bottom: 6rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint($medium) {
            max-width: inherit;
            margin-bottom: 10rem;

            &:last-child {
                margin-bottom: 0;
            }

            grid-column: span 6;
        }
    }
}
