.l-header {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    width: 100%;

    &__logo {
        lost-column: 4/12;
        order: 1;
    }

    &__nav-wrap {
        display: flex;
        flex-direction: row;
        lost-column: 8/12;
        justify-content: space-between;
        order: 2;
    }

    &__site-nav {

    }

    &__external-nav {
        
    }
}
