.l-home {
    height: 100%;

    &__intro {
        @include breakpoint($medium) {
            height: 100%;
        }

        &-inner {
            display: flex;
            flex-direction: column;

            @include breakpoint($medium) {
                display: grid;
                flex-direction: row;
                grid-template-columns: 1fr 1fr;
                height: 100%;
                margin: 0 auto;
                max-width: 1000px;
                position: relative;
            }
        }

        &-section {
            align-items: center;
            display: flex;
            min-height: 25rem;
            height: 50%;
            position: relative;
            justify-content: center;
            z-index: 1;

            @include breakpoint($medium) {
                height: 100%;
            }

            &--code {
                order: 2;
            }

            &--blog {
                order: 3;
            }
        }
    }

    &__image-wrap {
        display: flex;
        order: 1;

        @include breakpoint($medium) {
            left: 50%;
            order: 3;
            position: absolute;
            top: 43%;
            transform: translate(-50%, -50%);
            z-index: 0;
        }

        @include breakpoint($large) {
            top: 40%;
        }
    }
}
