.u-action-link {
    font-family: $lato;
    font-size: $text-regular;
    font-weight: $weight-bold;
    position: relative;
    text-transform: uppercase;

    &::after {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    &--right {
        padding-right: 2.3rem;

        &::after {
            $url: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 158.2 256"><path d="M30.2 0L0 30.2 97.8 128 0 225.8 30.2 256l128-128L30.2 0z"/></svg>';
            background-image: url('data:image/svg+xml, #{$url}');
            height: 21px;
            width: 13px;
        }

        &-white {
            color: $white;

            &::after {
                $url: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 158.2 256"><path fill="#{$white}" d="M30.2 0L0 30.2 97.8 128 0 225.8 30.2 256l128-128L30.2 0z"/></svg>';
                background-image: url('data:image/svg+xml, #{$url}');
            }
        }
    }

    &--down {
        padding-bottom: 2rem;

        &::after {
            $url: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 158.2"><path d="M256 30.2L225.8 0 128 97.8 30.2 0 0 30.2l128 128 128-128z"/></svg>';
            bottom: 0;
            height: 13px;
            left: 50%;
            top: inherit;
            transform: translate(-50%, 0);
            width: 22px;
        }

        &-white {
            color: $white;

            &::after {
                $url: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 158.2"><path fill="#{$white}" d="M256 30.2L225.8 0 128 97.8 30.2 0 0 30.2l128 128 128-128z"/></svg>';
                background-image: url('data:image/svg+xml, #{$url}');
            }
        }
    }
}
