.s-content {
    p {
        @extend .u-body-text;
        margin: 0 0 2rem;
    }

    strong {
        font-weight: $weight-bold;
    }

    ul, ol {
        @extend .u-body-text;
        list-style-type: disc;
        margin-bottom: 2rem;
        margin-left: 3em;
    }

    h1 {
        @extend .u-title;
    }

    h2 {
        @extend .u-title--medium;
        border-bottom: $yellow solid 3px;
        padding: 0 0 1rem;
        margin: 0 0 2rem;
    }

    h3,
    h4 {
        @extend .u-title--smaller;
        margin: 0 0 2rem;
    }

    img {
        display: block;
        height: auto;
        margin-bottom: 1rem;
    }

    a {
        color: $blue;
        font-weight: $weight-bold;
        text-decoration: underline;

        &:hover {
            background-color: $blue;
            color: $white;
            text-decoration: none;
        }
    }

    p, li {
        code {
            background-color: $grey-mid;
            color: $grey-light;
            display: inline;
            padding: 0 .5rem;
        }
    }

    .highlighter-rouge {
        margin-bottom: 2rem;

        code {
            body & {
                // A little hacky but needed to override Prismjs styling
                white-space: pre-wrap;
            }
        }
    }
}
