.c-article-preview {
    border-top: $yellow solid 8px;
    padding-top: 5rem;

    &__inner {
        @include breakpoint($large) {
            padding: 0 5rem;
            width: 100%;
        }
    }

    &__title {
        font-size: $text-large;
        margin-bottom: 2rem;

        @include breakpoint($medium) {
            font-size: $text-large;
        }
    }

    &__title-link {
        color: $black;
        font-weight: $weight-bold;
    }

    &__excerpt {
        margin-bottom: 2rem;
    }
}
