.c-instagram-image {
    $this: &;

    &__link {
        display: block;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    &__image {
        height: auto;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
    }

    &--landscape {
        #{$this}__image {
            height: 100%;
            left: 50%;
            max-width: inherit;
            top: 0;
            transform: translate(-50%, 0);
            width: auto;
        }
    }
}
