.c-logo {
    $this: &;
    height: 4.4rem;
    width: 13.9rem;

    &__link,
    &__graphic {
        height: 100%;
        width: 100%;
    }

    &__graphic {
        fill: $blue;
    }

    body.theme-yellow & {
        #{$this}__graphic {
            fill: $white;
        }
    }
}
