.c-nav {
    background-color: $white;
    font-family: $lato;
    font-size: $text-regular;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;

    @include breakpoint($medium) {
        background-color: inherit;
    }
}
