---
layout: home
slug: home
---

<div class="c-home l-home">
    <section class="c-home__intro l-home__intro">
        <div class="c-home__intro l-home__intro-inner">
            <div class="l-home__intro-section l-home__intro-section--code">
                <div class="c-home__intro-section-center l-home__intro-section-center">
                    <h2 class="c-home__intro-title">Code</h2>

                    <div class="c-home__intro-meta">
                        <nav>
                            <ul class="c-home__intro-links">
                                {% for item in site.data.external-navigation.nav %}
                                <li class="c-home__intro-link-item">
                                    <a href="{{ item.url }}" class="u-action-link u-action-link--code-link u-action-link--right u-action-link--right-white" rel="nofollow" target="_blank">
                                        {{ item.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="l-home__image-wrap">
                <img src="/assets/img/chris-boakes-web-developer-portait-multiply.jpg" alt="Chris Boakes Web Developer Profile" class="c-home__profile-img">
            </div>

            <div class="l-home__intro-section l-home__intro-section--blog">
                <div class="c-home__intro-section-center l-home__intro-section-center">
                    <h2 class="c-home__intro-title">Blog</h2>

                    <div class="c-home__intro-meta">
                        <p class="c-home__intro-more">
                            <a href="#home-posts" class="u-action-link u-action-link--down u-action-link--down-white">
                                Read on<span class="u-visually-hidden"> for blog entries</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="c-page-wrap">
        <section class="l-home__posts c-home__posts" id="home-posts">
            <div class="u-horizontal-center">
                <div class="l-page-content">
                    <div class="l-blog-grid">
                        {% for post in site.posts %}
                            {% include components/c-article-preview.html %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% include footer.html %}
    </div>
</div>
